.btn-upload {
    background-color: #48e046;
    border: 0.15rem solid #48e046;
    border-radius: 5rem;
    color: #00324b;
    font-family: Raleway,Arial,sans-serif;
    font-size: .9rem;
    font-weight: 700;
    line-height: 2rem;
    min-width: 9rem; 
    width: 40%;
    margin-bottom: 30px;
 }

 .btn-borrar {
    background-color: #fc324d;
    border: 0.15rem solid #ff0000;
    border-radius: 5rem;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-size: .9rem;
    font-weight: 700;
    line-height: 2rem;
    min-width: 9rem;
    width: 40%;
}

.image-upload>input {
    display: none;
  }

  .image-upload{
      width: 100%;
      height: 100%;
  }